@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
font-family: 'Source Sans Pro', sans-serif;}

a {
  color: inherit;
  text-decoration: none;
}

button{
  background-color: blueviolet !important;
  padding: 0.5em 1em !important ;
  border-radius: 1em;
}


* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
[data-placeholder]::after {
    content: " ";
    box-shadow: 0 0 50px 9px rgba(254,254,254);
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    animation: load 1s infinite;
}
@keyframes load {
    0%{ left: -100%}
    100%{ left: 150%}
}


